.header{
    background: url(images/donation13.jpg);
    background-size:cover;
    height: 500px;
    width:1408px;
    background-repeat: no-repeat;
  
}
.head-text{
    position: absolute;
    color: aliceblue;
    top: 25%;
    left: 25%;
    right: 25%;
}
.head-text h1{
    font-size:50px;
    font-weight: bold;
    width: 900px;
    text-align: center;

}
.donation{
    position: absolute;
    top: 50%;
    left: 40%;
    margin: 30px;
        text-decoration: none;
       background-image: linear-gradient(rgb(239, 30, 149), rgb(213, 102, 83));
        padding: 10px 40px;
        border-radius: 5%;
        color: aliceblue;
        font-weight: 700;
    }
.donate{
    text-align:center;
    margin-top: 100px;
}
.flex-container{
    align-items: center;
    display: flex;
    background-color: rgb(247, 246, 247);

}
.flex-container> div{
    width: 10px;
    height: 10px;
    margin: 50px;
    padding: 50px;
    font-size:50px;
}
.flex-container .div2{
    color: crimson;
    height: 20px;
    width: 70px;
    border: 1px solid palevioletred;
}
.input{
    text-decoration: dashed;
    text-align: center;
    font-size: 100px;
    width: 500px;
    left:50%;
    margin-left: 500px;
    padding-top: 5px;
    border-bottom: 1px solid rgb(89, 87, 85);
}

.icon{
    text-align: center;
    display: flex;
}
.plan{
    text-align: center;
}
.plan h1{
    font-size: 30px;
}
.donation-plan{
    padding: 0px;
    margin-left: 5%;
    text-align: center;
    align-items: center;
    font-family: 'Gulzar', serif;
    font-family: 'Poppins', sans-serif;
    display:flex;
    height: 500px;
    width: 1200px;
}
.food{
    margin:20px;
    padding: 4px;
    border-radius: 5px;
    background-color: rgb(204, 224, 240);
    border: 1px solid rgb(133, 130, 133);
    height: 400px;
    width: 900px;
}
.shelter{
    margin:20px;
    padding: 4px;
    border-radius: 5px;
    background-color: rgb(241, 222, 222);
    border: 1px solid rgb(244, 210, 244);
    height: 400px;
    width: 900px;
}
.education{
    margin:20px;
    padding: 4px;
    border-radius: 5px;
    background-color: rgb(216, 169, 169);
    border: 1px solid rgb(133, 130, 133);
    height: 400px;
    width: 900px;
}
section{
    margin: 20px;
    padding: 15px;
    display: flex;
}
.news{
    width: 50%;
}
.news img{
    margin-left: 15%;
    width: 80%;
}
.newsButton{
        text-decoration: none;
       background-image: linear-gradient(rgb(239, 30, 149), rgb(213, 102, 83));
        border-radius: 5%;
        color: aliceblue;
        font-weight: 700;
        padding: 10px 40px;

}
.news2{
    width: 50%;
}
.news2 img{
    margin-left: 15%;
    width: 80%;

}
.update{
    text-align: center;
}
.Subscribe{
    margin:70px;
    background-color: #fcbfe0;
    padding: 40px;
    text-align: center;
}
#button{
    background-color:rgb(227, 8, 81);
}
footer {
    padding-top: 20%;
    text-align: center;
    padding: 3px;
    background-color: rgb(15, 14, 14);
    color: white;
  }
  footer h1{
    font-style:italic;
    color: #e90582;
  }
